body {
  width: 99%;
  height: 900px;
  background-color: #fc6;

}

#top-bar {
  margin-top: 28px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
/*  border-color:#f30;*/
border-color: #d05d62;
  border-width: 10px;
  border-style:outset;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 20px;
  margin-bottom: 18px;
/*  color:#f30;*/

}

h1 {
  /*color: #f30;*/
  color:white;
  font-family: 'Modak', cursive;
  padding:20px;
  padding-top:5px;
  font-size:100px;
  letter-spacing:3px;
  text-shadow:
    -5px -5px 0 darkred,
    5px -5px 0 darkred,
    -5px 5px 0 darkred,
    5px 5px 0 darkred;  
}

p {
    font-family: 'Modak', cursive;
    padding:20px;
    /*color: #f30;*/
    color: white;
    font-size:30px;
    letter-spacing: 5px;
    text-shadow:
    -2px -2px 0 darkred,
    2px -2px 0 darkred,
    -2px 2px 0 darkred,
    2px 2px 0 darkred;  

}

pre {
  background-color: white;
  /*border-color: #f30;*/
  border-color: #d05d62;
  border-width: 5px;
  /*border-style:dotted;*/
  border-style:outset;
  font-family: 'Permanent Marker', cursive;
  /*color:#f30;*/
  letter-spacing: 2px;

}

.form-control {

  background-color: white !important;
  /*border-color: #f30;*/
  border-color: #d05d62;
  border-width: 5px;
  /*border-style:dotted;*/
  border-style:outset;
  font-family: 'Permanent Marker', cursive;
  /*color:#f30 !important;*/
  letter-spacing: 2px;

}

@media screen and (max-width: 700px) { 

  .form-control {
letter-spacing: 0px;
width:200px;
margin-left:40px;

  }

  pre {
    letter-spacing: 0px;
  }

}


body {
  background-image: url(https://images2.pixlis.com/background-image-checkers-chequered-checkered-squares-seamless-tileable-orchid-white-ronchi-236ndg.png);
